In [1]:
import pandas as pd
import json
import os

In [ ]:
lang_list = []
for file in os.listdir("../data/phon/preprocessed/"):
    if file.endswith(".tsv"):
        lang = file.replace(".tsv", "")
        lang_list.append(lang)

In [34]:
with open("data/bn/bn_all_colex2id.json") as f:
    colex2id = json.load(f)

In [2]:
df = pd.read_csv("data/wordlists/concreteness_ratings.csv")

In [3]:
df

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX
0,a,0,1.46,1.14,2,30,0.93,1041179
1,aardvark,0,4.68,0.86,0,28,1.00,21
2,aback,0,1.65,1.07,4,27,0.85,15
3,abacus,0,4.52,1.12,2,29,0.93,12
4,abandon,0,2.54,1.45,1,27,0.96,413
...,...,...,...,...,...,...,...,...
39949,zebra crossing,1,4.56,0.75,1,28,0.96,0
39950,zero tolerance,1,2.21,1.45,0,29,1.00,0
39951,ZIP code,1,3.77,1.59,0,30,1.00,0
39952,zoom in,1,3.57,1.40,0,28,1.00,0
39953,zoom lens,1,4.81,0.49,1,27,0.96,0

In [12]:
df["lemma"] = df["Word"].replace(' ', '_', regex=True).str.lower()

In [13]:
df

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,lemma
0,a,0,1.46,1.14,2,30,0.93,1041179,a
1,aardvark,0,4.68,0.86,0,28,1.00,21,aardvark
2,aback,0,1.65,1.07,4,27,0.85,15,aback
3,abacus,0,4.52,1.12,2,29,0.93,12,abacus
4,abandon,0,2.54,1.45,1,27,0.96,413,abandon
...,...,...,...,...,...,...,...,...,...
39949,zebra crossing,1,4.56,0.75,1,28,0.96,0,zebra_crossing
39950,zero tolerance,1,2.21,1.45,0,29,1.00,0,zero_tolerance
39951,ZIP code,1,3.77,1.59,0,30,1.00,0,zip_code
39952,zoom in,1,3.57,1.40,0,28,1.00,0,zoom_in
39953,zoom lens,1,4.81,0.49,1,27,0.96,0,zoom_lens

In [8]:
df_colex = pd.read_csv("data/bn/EN", sep="\t", low_memory=False, header=None)

In [15]:
df_colex.columns = ["LANG", "LEMMA", "SYN1", "SYN2"]

In [16]:
df_colex

         LANG                        LEMMA          SYN1          SYN2
0          EN                     numerary  bn:13655579a  bn:27189134a
1          EN                     numerary  bn:00897170n  bn:27189134a
2          EN                     numerary  bn:00897170n  bn:13655579a
3          EN                       nunate  bn:03004720n  bn:27189157v
4          EN                     nummular  bn:13664806a  bn:27189152a
...       ...                          ...           ...           ...
17241688   EN  united_trade_union_congress  bn:00906897n  bn:00907014n
17241689   EN  united_trade_union_congress  bn:00906920n  bn:00907014n
17241690   EN  united_trade_union_congress  bn:00906897n  bn:00906920n
17241691   EN                     sedulang  bn:09290071n  bn:09290161n
17241692   EN                the_wong_boys  bn:09189898n  bn:09190061n

[17241693 rows x 4 columns]

In [17]:
intersection = set(df.lemma.tolist()).intersection(set(df_colex.LEMMA.tolist()))

In [20]:
len(df_colex), len(df)

(17241693, 39954)

In [21]:
len(set(df_colex.LEMMA.tolist()))

1093340

In [19]:
len(intersection)

28423

In [23]:
df_inter = df_colex[df_colex.LEMMA.isin(intersection)]

In [29]:
df_inter

         LANG        LEMMA          SYN1          SYN2
12916      EN      octopus  bn:15724629n  bn:27189726v
12917      EN      octopus  bn:15724629n  bn:16644556n
12918      EN      octopus  bn:00662707n  bn:15724629n
12919      EN      octopus  bn:00026737n  bn:15724629n
12920      EN      octopus  bn:01833328n  bn:15724629n
...       ...          ...           ...           ...
17241666   EN  earnestness  bn:00029412n  bn:00029413n
17241667   EN     earnings  bn:00029415n  bn:00029416n
17241672   EN     easiness  bn:00029454n  bn:00029460n
17241673   EN     easiness  bn:00029460n  bn:00029461n
17241674   EN     easiness  bn:00029454n  bn:00029461n

[2954283 rows x 4 columns]

In [31]:
df_inter["COLEX"]= df_inter["SYN1"]+"_"+df_inter["SYN2"]

/var/folders/bj/qp6k2wl11h5gpn8j4hg0tgf40000gn/T/ipykernel_20953/1504607152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inter["COLEX"]= df_inter["SYN1"]+"_"+df_inter["SYN2"]

In [35]:
df_inter["COLEX_ID"]= df_inter["COLEX"].apply(lambda x: colex2id[x])

/var/folders/bj/qp6k2wl11h5gpn8j4hg0tgf40000gn/T/ipykernel_20953/1354528520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inter["COLEX_ID"]= df_inter["COLEX"].apply(lambda x: colex2id[x])

In [36]:
df_inter

,LANG,LEMMA,SYN1,SYN2,COLEX,COLEX_ID
12916,EN,octopus,bn:15724629n,bn:27189726v,bn:15724629n_bn:27189726v,54748711
12917,EN,octopus,bn:15724629n,bn:16644556n,bn:15724629n_bn:16644556n,15472643
12918,EN,octopus,bn:00662707n,bn:15724629n,bn:00662707n_bn:15724629n,54748753
12919,EN,octopus,bn:00026737n,bn:15724629n,bn:00026737n_bn:15724629n,6496129
12920,EN,octopus,bn:01833328n,bn:15724629n,bn:01833328n_bn:15724629n,15826412
...,...,...,...,...,...,...
17241666,EN,earnestness,bn:00029412n,bn:00029413n,bn:00029412n_bn:00029413n,434816
17241667,EN,earnings,bn:00029415n,bn:00029416n,bn:00029415n_bn:00029416n,495662
17241672,EN,easiness,bn:00029454n,bn:00029460n,bn:00029454n_bn:00029460n,2901888
17241673,EN,easiness,bn:00029460n,bn:00029461n,bn:00029460n_bn:00029461n,4021225
17241674,EN,easiness,bn:00029454n,bn:00029461n,bn:00029454n_bn:00029461n,4662206

In [37]:
synsets = set(df_inter["SYN1"].tolist()+df_inter["SYN2"].tolist())

In [39]:
len(synsets)

201499

In [40]:
df_inter = df_inter[["LANG", "LEMMA", "COLEX"]]

In [41]:
df_inter.to_csv("data/preprocessed/EN.csv", index=False)

In [43]:
with open("data/preprocessed/EN_synsets.json", "w") as f:
    json.dump(list(synsets), f)

In [45]:
with open("data/preprocessed/EN_colex.json", "w") as f:
    json.dump(list(set(df_inter["COLEX"].tolist())), f)